.container {
  padding-left: 5px;
  padding-right: 2px;
}

.event-image {
  height: 200px;
  border-radius: 5px;
}

/* app-scorecard { */
  /* position: relative;
  bottom: 250px;
  right: 100px; */
  /* display: inline-flexbox; */
/* } */

.hideText{
 display: none;
  /* color: red; */
}

/* @media (min-width: 1000px) {
  app-scorecard {
    position: relative;
  bottom: 250px;
  right: 100px;
  }
} */

/* start of desktop styles */


  
  @media screen and (min-width: 765px) {
  /* start of medium tablet styles */
    app-scorecard {
      position: relative;
      bottom: 250px;
      right: 100px;
    }

    .container {
      padding-left: 80px;
      padding-right: 20px;
    }
  
  }
  
  /* @media screen and (max-width: 479px) {
  start of phone styles
  
  } */
