<div class="container">
    <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">
  
    <div class="row">
      <div class="col-md-11">
        <h2>{{event?.name}}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-1">
        <div><strong>Constituency:</strong> {{event?.constituency}}</div>
        <div><strong>Party:</strong> {{event?.party.partyName}}</div>
        <div><strong>PartyScore:</strong> {{event?.party.partyScore}}</div>
        <br/>
        
        <div [class.hideText]="event?.tally.notTdVotes != 21">
          <p>{{event?.name}} has not been a TD for the 21 votes in question and so has not been assigned a Climate Score</p>
        </div>
       
        <div [class.hideText]="event.moreThan3 == true || event?.tally.notTdVotes == 21">
          <p>{{event?.name}} has voted in less than 3 of the 21 votes in question and so has not been assigned a Climate Score</p>
        </div>
               
        
        <div [class.hideText]="event.moreThan3 == false">
          <p>{{event?.name}} was a TD for {{ totalResult }} of the 21 votes in question. They were absent or abstained from voting {{event?.tally.absentVotes}} time(s).<br/>
            Of the remaining {{ mainResult }}, they voted in a climate positive way {{event?.tally.positiveVotes}} times and they voted in a climate negative {{event?.tally.negativeVotes}} times,
            giving an overall Climate Score of {{event?.score}}</p>        
        </div>
        
        <div>
          <p>{{event?.name}} has/has not signed the NHNA Election Pledge</p>
        </div>
      </div>
      
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-1">
        <app-scorecard></app-scorecard>
      </div>
      
    </div>
</div>

  