.container {
  padding-left: 80px;
  padding-right: 20px;
}

.event-image {
  height: 200px;
  border-radius: 5px;
}

app-scorecard {
  position: relative;
  bottom: 250px;
  right: 100px;
}

.hideText{
 display: none;
  /* color: red; */
}