.hideTD{
    display: none;
   }

button{
    position: absolute;
    /* align-items: center; */
    right: 600px;
    top: 80px;

}

#symbol{
    color: aliceblue;
    background-color: rgba(9, 175, 175, 0.975); 
    position: relative;
    bottom: 22px;
    text-decoration: none;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 8px;
    ;

  }

#symbol:hover{
  background-color: rgba(98, 104, 201);
}

.mb-0{
  height: 20px;
}