.thumbnail {
  min-height: 290px;
  padding-left: 12px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 12px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.pad-left {
  margin-left: 8px;
}
.well div {
  color: black;
  background-color: white;
  
}
.td-image {
  height: 118px;
  width: 100px;
  border-radius: 5px;
  float: right;
  
}

h2{
  font-size: 22px;
  color: white;
}

/* .vote-image {
  height: 25px;
} */

app-score-key img{
  width: 12px; 
  font-size: 12px; 
}

:host ::ng-deep .key-image{
  height: 18px;

}


.mini-scores1, .mini-scores2, .mini-scores3{
  display: inline-flex ;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  font-size: 0;
  
}

.compBox {
  /* position: float; */
  /* z-index: 1000; */
  /* right: 25px; */
  position: absolute;
  vertical-align: middle;
  bottom: 95px;
  right: 60px;
  
  display: inline-flexbox;
  float: top;
  flex-direction: column;
  color: white;
  background-color: #009FE3;
}

.checkbox {
  transform: scale(2.5);
  position: absolute;
  right: 40px;
  margin-top: 15px;
}

label{
  font-size: 16px;
  text-align: center;
  line-height: 15px;
  padding-bottom: 0px;
  margin: 2px;
  border-radius: 5px;  
  
}

.mini-scorecards {
  /* display: inline; */
  font-size: 0;
  margin: 0;
  padding: 0;
  max-width: 200px;
}

@media screen and (max-width: 764px) {
   
  .compBox {   
    bottom: 80px;
  }
}  

@media screen and (max-width: 376px) {
      
  .compBox {
    right: 45px;
    bottom: 80px;
  }

  .checkbox {
    transform: scale(1.8);
  }
}    

@media screen and (max-width: 361px) {
      
  .compBox {
    right: 38px;
    bottom: 80px;
  }

  .checkbox {
    transform: scale(2);
    /* position: absolute; */
    right: 37px;
    top: 35px;
  }
}  

@media screen and (max-width: 329px) {
      
  .compBox {
    right: 22px;
    bottom: 40px;
  }

  label {
    font-size: 12px;
  }

  .checkbox {
    transform: scale(2);
    /* position: absolute; */
    right: 26px;
    top: 35px;
  }
}  

#info{
  position: relative;
  top: 4px;
  color: white;
  background-color: #009FE3;
}

.banner {
  background-color: #F2293B;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}

button {
  background-color: #009FE3;
  color: white;
  border-radius: 2.5px;
  border-width: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}