<div class="well hoverwell thumbnail">
  <!-- <div class="clickable" (click)="scrollToTop()" [routerLink] = "['/tds', td.name]"> -->
  <div>  
    <img [src]="photoUrl" [alt]="td?.name" class="td-image">
    
    <h2 class="banner">{{td?.name}}</h2>
    <div>{{td?.area}}</div>
    <div>{{td?.party_name}}</div>
    <!-- <div>Party Score: {{td?.partyScore}}</div> -->
    
    <h2>Score:</h2><img [src]="scoreImage" class="vote-image">
             
  </div>
    <span class="compBox">
      <label>Add to <br>Comparison</label>
      <input type="checkbox" class="checkbox" [checked]="td.comparison" (change)="compareVal($event)" (change)="spotChange()"/>      
    </span>
    <!-- <span id="info">Click TD picture for more info</span> -->
    <span><button onclick="window.location.href='https://action.uplift.ie/campaigns/empty-homes-pledge?no_area_prefill';">Email {{td?.name}}</button></span>
  </div>
