<div>
  <h2>Score: {{td?.score}}</h2>
  <div class="mini-scorecard">
    <a href={{td?.votes.vote1.link}} title="{{td?.votes.vote1.billName}}">
      <img [src]="td?.votes.vote1.result" class="vote-image">
    </a>
    <a href="{{td?.votes.vote2.link}}" title="{{td?.votes.vote2.billName}}"><img [src]="td?.votes.vote2.result" class="vote-image"></a>
    <a href="{{td?.votes.vote3.link}}" title="{{td?.votes.vote3.billName}}"><img [src]="td?.votes.vote3.result" class="vote-image"></a>
    <a href="{{td?.votes.vote4.link}}" title="{{td?.votes.vote4.billName}}"><img [src]="td?.votes.vote4.result" class="vote-image"></a>
    <a href="{{td?.votes.vote5.link}}" title="{{td?.votes.vote5.billName}}"><img [src]="td?.votes.vote5.result" class="vote-image"></a>
    <a href="{{td?.votes.vote6.link}}" title="{{td?.votes.vote6.billName}}"><img [src]="td?.votes.vote6.result" class="vote-image"></a>
    <a href="{{td?.votes.vote7.link}}" title="{{td?.votes.vote7.billName}}"><img [src]="td?.votes.vote7.result" class="vote-image"></a>
    <br/>
    <a href="{{td?.votes.vote8.link}}" title="{{td?.votes.vote8.billName}}"><img [src]="td?.votes.vote8.result" class="vote-image"></a>
    <a href="{{td?.votes.vote9.link}}" title="{{td?.votes.vote9.billName}}"><img [src]="td?.votes.vote9.result" class="vote-image"></a>
    <a href="{{td?.votes.vote10.link}}" title="{{td?.votes.vote10.billName}}"><img [src]="td?.votes.vote10.result" class="vote-image"></a>
    <a href="{{td?.votes.vote11.link}}" title="{{td?.votes.vote11.billName}}"><img [src]="td?.votes.vote11.result" class="vote-image"></a>
    <a href="{{td?.votes.vote12.link}}" title="{{td?.votes.vote12.billName}}"><img [src]="td?.votes.vote12.result" class="vote-image"></a>
    <a href="{{td?.votes.vote13.link}}" title="{{td?.votes.vote13.billName}}"><img [src]="td?.votes.vote13.result" class="vote-image"></a>
    <a href="{{td?.votes.vote14.link}}" title="{{td?.votes.vote14.billName}}"><img [src]="td?.votes.vote14.result" class="vote-image"></a>
    <br/>
    <a href="{{td?.votes.vote15.link}}" title="{{td?.votes.vote15.billName}}"><img [src]="td?.votes.vote15.result" class="vote-image"></a>
    <a href="{{td?.votes.vote16.link}}" title="{{td?.votes.vote16.billName}}"><img [src]="td?.votes.vote16.result" class="vote-image"></a>
    <a href="{{td?.votes.vote17.link}}" title="{{td?.votes.vote17.billName}}"><img [src]="td?.votes.vote17.result" class="vote-image"></a>
    <a href="{{td?.votes.vote18.link}}" title="{{td?.votes.vote18.billName}}"><img [src]="td?.votes.vote18.result" class="vote-image"></a>
    <a href="{{td?.votes.vote19.link}}" title="{{td?.votes.vote19.billName}}"><img [src]="td?.votes.vote19.result" class="vote-image"></a>
    <a href="{{td?.votes.vote20.link}}" title="{{td?.votes.vote20.billName}}"><img [src]="td?.votes.vote20.result" class="vote-image"></a>
    <a href="{{td?.votes.vote21.link}}" title="{{td?.votes.vote21.billName}}"><img [src]="td?.votes.vote21.result" class="vote-image"></a>
    </div>
</div>

  <app-score-key></app-score-key>