.nav.navbar-nav {
  font-size: 1.75rem;
}
#searchForm {
  margin-right: 6.25rem;
}
@media (max-width: 75rem) {
  searchForm {
    display: none;
  }
}
.form-control {
  width: 50rem;
}

img{
  width: 60px;
}

span a{
  color: aliceblue;
  font-size: 25px;
  padding: 15px 15px;
  text-decoration: none;
}

span:hover{
  background-color: rgb(72, 85, 99);
}