.nav.navbar-nav {
  font-size: 1.75rem;
}
#searchForm {
  margin-right: 6.25rem;
}
@media (max-width: 75rem) {
  searchForm {
    display: none;
  }
}
.form-control {
  width: 50rem;
}

span a{
  font-size: 25px;
  padding: 15px 15px;
  text-decoration: none;
 }

ul.nav.nav-tabs {
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
  font-size: 18px;
}

section{
  background-color: white;
  padding-bottom: 0px;
}

@media screen and (max-width: 329px) {
  ul.nav.nav-tabs {
    font-size: 16px;
  }
}

.nav-link {
  background-color: #009FE3;
  color: white;
}

.nav-link:active {
  background-color: rgb(0, 159, 227,60%);
}

.nav-link:hover {
  background-color: rgb(0, 159, 227, 70%);
}