.nav.navbar-nav {
  font-size: 1.75rem;
}
#searchForm {
  margin-right: 6.25rem;
}
@media (max-width: 75rem) {
  searchForm {
    display: none;
  }
}
.form-control {
  width: 50rem;
}

span a{
  color: aliceblue;
  font-size: 25px;
  padding: 15px 15px;
  text-decoration: none;
}

ul.nav.nav-tabs {
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
  font-size: 22px;
}

section{
  background-color: rgba(72, 85, 99, 0.800);
}
/* 
a:hover{
  color:   rgb(139, 238, 241);;
} */