input {
    width: 35rem;
    margin-bottom: 8px;
}

span{
    font-size: 20px;
}

.title-text {
    font-size: 70px;
}

app-score-key {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .key-image {
    height: 25px;
  }

.main-list {
    margin-right: 15px;
}