input {
    width: 35rem;
    margin-bottom: 8px;
}

span{
    font-size: 20px;
}

.title-text {
    font-size: 70px;
}

app-score-key {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .key-image {
    height: 25px;
  }

.main-list {
    margin-right: 15px;
}

hr {
    margin: 0;
    margin-bottom: 10px;
}
.scroll-to-top:hover {
    background-color: rgba(98, 104, 201);
}

.scroll-to-top{
    position: fixed; /* Fixed/sticky position */
    bottom: 5px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:rgba(9, 175, 175, 0.9); 
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

.goCompare {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:rgba(98, 104, 201, 0.9); /*Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}