img{
    height: 150px;
}

input {
    width: 35rem;
    margin-bottom: 8px;
}

span{
    font-size: 20px;
}

.title-text {
    font-size: 70px;
}

.scorekey {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .key-image {
    height: 25px;
  }

.main-list {
    margin-right: 15px;
}