<div>
  <!-- <span><img src="/assets/images/NHNA2.png"></span><span><h1>NHNA Climate Score</h1></span> -->
  <!-- <span class="title-text">NHNA Climate Score</span><span><img src="/assets/images/NHNA2.png"></span>
  <hr /> -->
  <h1>NHNA Climate Score</h1>
  <hr>
  <span>Search your Constituency/Candidate </span>
  <input type="text" [(ngModel)]="searchValue" placeholder="Type a  Constituency,  Name,  Party  or  Score"> <!--added ngModel-->
  <br>
  <br>

<div class="row">
  <div class="col-md-5" *ngFor="let event of events | searchfilter:searchValue"> <!--added pipe filter-->
    <!-- {{event.name}} from {{event.party.partyName}} - Score: {{event.score}} -->
    <app-event-thumbnail [event]="event"></app-event-thumbnail>
  </div>
</div>
</div>


  <!-- <div class="row">
    <div *ngFor="let event of events" class="col-md-5">
      <app-event-thumbnail [event]="event"></app-event-thumbnail>
    </div>
  </div>
</div> -->

