.thumbnail {
  min-height: 200px;

}
.pad-left {
  margin-left: 8px;
}
.well div {
  color: #bbb;
}
.event-image {
  height: 180px;
  width: 160px;
  /* height: 150px;
  width: 150px; */
  border-radius: 5px;
  float: right;
  /* position: relative;
  left: 18px; */
  /* position: relative 200px right; */
  
}

h2{
  font-size: 20px;
}

.vote-image {
  height: 25px;
}

.mini-scores1, .mini-scores2, .mini-scores3{
  /* height: 50px; */
  display: flex ;
  /* padding-top: 0; */
  /* padding-bottom: 0; */
  /* width: max-content; */
  /* border-radius: 5px; */
  
}


