<div class="well hoverwell thumbnail">
  <div class="clickable" (click)="scrollToTop()" [routerLink] = "['/events', event.name]">
    <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">
    
    <h2>{{event?.name}}</h2>
    <div>{{event?.constituency}}</div>
    <div *ngIf="event?.party">{{event?.party.partyName}}</div>
    <div *ngIf="event?.party">Party Score: {{event?.party.partyScore}}</div>
    
    <h2>Score: {{event?.score}}</h2>
  
    <br>    
    <div class="mini-scorecards">
    <div class="mini-scores1">
      <span><a href={{event?.votes.vote1.link}}>
      <img [src]="event?.votes.vote1.result" class="vote-image">
            </a>
      </span>
      <span><a href="{{event?.votes.vote2.link}}"><img [src]="event?.votes.vote2.result" class="vote-image"></a></span>
      <span><a href="{{event?.votes.vote3.link}}"><img [src]="event?.votes.vote3.result" class="vote-image"></a></span>
      <span><a href="{{event?.votes.vote4.link}}"><img [src]="event?.votes.vote4.result" class="vote-image"></a></span>
      <span><a href="{{event?.votes.vote5.link}}"><img [src]="event?.votes.vote5.result" class="vote-image"></a></span>
      <span><a href="{{event?.votes.vote6.link}}"><img [src]="event?.votes.vote6.result" class="vote-image"></a></span>
      <span><a href="{{event?.votes.vote7.link}}"><img [src]="event?.votes.vote7.result" class="vote-image"></a></span>
    </div>
    
    <div class="mini-scores2">
      <span><a href="{{event?.votes.vote8.link}}"><img [src]="event?.votes.vote8.result" class="vote-image"></a></span>
      <span><a href="{{event?.votes.vote9.link}}"><img [src]="event?.votes.vote9.result" class="vote-image"></a></span>
      <span><a href="{{event?.votes.vote10.link}}"><img [src]="event?.votes.vote10.result" class="vote-image"></a></span>
      <span><a href="{{event?.votes.vote11.link}}"><img [src]="event?.votes.vote11.result" class="vote-image"></a></span>
      <span><a href="{{event?.votes.vote12.link}}"><img [src]="event?.votes.vote12.result" class="vote-image"></a></span>
      <span><a href="{{event?.votes.vote13.link}}"><img [src]="event?.votes.vote13.result" class="vote-image"></a></span>
      <span><a href="{{event?.votes.vote14.link}}"><img [src]="event?.votes.vote14.result" class="vote-image"></a></span>
    </div> 
    
    <div class="mini-scores3">
      <span><a href="{{event?.votes.vote15.link}}"><img [src]="event?.votes.vote15.result" class="vote-image"></a></span>
      <span><a href="{{event?.votes.vote16.link}}"><img [src]="event?.votes.vote16.result" class="vote-image"></a></span>
      <span><a href="{{event?.votes.vote17.link}}"><img [src]="event?.votes.vote17.result" class="vote-image"></a></span>
      <span><a href="{{event?.votes.vote18.link}}"><img [src]="event?.votes.vote18.result" class="vote-image"></a></span>
      <span><a href="{{event?.votes.vote19.link}}"><img [src]="event?.votes.vote19.result" class="vote-image"></a></span>
      <span><a href="{{event?.votes.vote20.link}}"><img [src]="event?.votes.vote20.result" class="vote-image"></a></span>
      <span><a href="{{event?.votes.vote21.link}}"><img [src]="event?.votes.vote21.result" class="vote-image"></a></span>
    </div> 
  </div> 
  </div>
    <span class="compBox">
      <label>Add to <br>Comparison</label>
      <input type="checkbox" class="checkbox" [checked]="event.comparison" (change)="compareVal($event)" (change)="spotChange()"/>      
    </span>
    <!-- <span><app-score-key></app-score-key></span>     -->
    
  </div>
