input {
    width: 30%;
    margin-bottom: 8px;
}

::placeholder {
  color: grey;
  opacity: 1;
}

span{
    font-size: 20px;
}

@media screen and (min-width: 639px) {
   
  ng-select{
    width: 30%;
    margin-bottom: 7px;
  }

  input {
    width: 30%;
    margin-bottom: 8px;
  }
}    


.title-text {
    font-size: 70px;
}

#contact{
  margin-top: 7px;
}

app-score-key {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .key-image {
    height: 25px;
  }

.main-list {
    margin-right: 15px;
}

hr {
    margin: 0;
    margin-bottom: 10px;
}

.goCompare {
    position: fixed; /* Fixed/sticky position */
    bottom: 5px; /* Place the button at the bottom of the page */
    left: 45%;
    z-index: 99; /* Make sure it does not overlap */
    border: rgba(5, 85, 85, 0.9);
    border-style: solid;
    outline: none; /* Remove outline */
    background-color: rgba(9, 175, 175, 0.975); 
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    text-decoration: solid;
}

.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom .ng-select-container  {
    min-height: 0px;
    border-radius: 0;
}

.goCompare:hover {
    background-color: rgba(98, 104, 201);
  }

  @media screen and (max-width: 639px) {
   
    .goCompare {   
      left: 35%;
    }
  }    
  
  @media screen and (max-width: 329px) {
      
     .goCompare {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 8px;
        padding-right: 8px;      
    }
  }

  p {
    color: black;
  }