<ng-template [ngIf]="!tds">
  Loading candidates...
</ng-template>
<ng-template [ngIf]="!!tds">
  <div class="main-list">
    <!-- <span><img src="/assets/images/NHNA2.png"></span><span><h1>NHNA Climate Score</h1></span> -->
    <!-- <span class="title-text">NHNA Climate Score</span><span><img src="/assets/images/NHNA2.png"></span>
    <hr /> -->
    <h1>Empty Homes Pledge</h1>
    <hr>
    <span>Search your Constituency/Candidate </span>
    <input type="text" [(ngModel)]="searchValue" placeholder="Type  a  Constituency,  Name  or  Party"> <!--added ngModel-->
    
    <p>If you're a candidate and want to get in touch email homespledge@uplift.ie</p>

    <div class="accordion" id="accordionExample">
        
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button id="symbol" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Symbols Meaning <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrows-collapse" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0zm-.5 11.707l-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793z"/>
              </svg>
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <app-score-key></app-score-key>
          </div>
        </div>
      </div>
      
    </div>
   
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let td of tds | searchfilter:searchValue"> <!--added pipe filter-->
        <app-td-thumbnail [td]="td"></app-td-thumbnail>
    </div>
  </div>
  </div>

  <div (click)="untickAll()" class="untick" *ngIf="compareTds?.length > 0">
    <strong>Untick All</strong>
  </div>

  <div (click)="scrollToTop()" (click)="openComparison()" class="goCompare" *ngIf="compareTds?.length > 1">
    <strong>Compare {{compareTds?.length}} candidates</strong>
  </div>

  <div (click)="scrollToTop()" class="scroll-to-top" *ngIf="pageYoffset > 0" >
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
    </svg>
  </div>
</ng-template>
