<div>
    <h2>Gaffs4All Pledge</h2>
    <p>If elected I pledge to prioritise turning empty houses into homes for everyone who needs them, no matter who they are or where they come from.
        <br>
        Together we can create thriving communities where everyone belongs and can put down roots.
        <br>
        I endorse and vow to support the following initiatives:
        </p>
    <ul>        
        <li>
            <b>Repair and Leasing Scheme:</b> Increase the funding that is made available for each project, specifically for public housing use(from the current €80,000).
        </li>
        <br>
        <li>
            <b>Accurate information:</b> Local authorities should report quarterly on vacant house numbers, including the percentage relative to total housing stock. Annual publication of the number of second homes subject to the Vacant Homes Tax annually.
        </li>
        <br>
        <li>
            <b>Reporting Vacancy:</b> Make it easier to identify and report potentially vacant or empty homes to the local authority Vacant Homes Officer.
        </li>
        <br>
        <li>
            <b>Vacant Property Refurbishment Grant:</b> Increase to €80,000.
        </li>
        <br>
        <li>
            <b>Local Authority Home Loan:</b> Allow people who are purchasing and renovating a derelict or empty unit to access Local Authorities Loans and Mortgages.
        </li>
        <br>
        <li>
            <b>Rent-a-Room:</b> Extend the Rent-A-Room Scheme for local authority tenants to include any possible tenant, not just students.
        </li>
        <br>
        <li>
            <b>Living City Initiative:</b> Extend the scheme for converting shops’ upper floors, and broaden the criteria. Set annual targets for  bringing above shop accommodation back into use.
        </li>
        <br>
        <li>
            <b>Preventing Hoarding:</b> Introduce a banded, sliding scale for the vacant homes tax based on the amount of time a home is left empty.
        </li>
    </ul>
    <button onclick="location.href='https://action.uplift.ie/campaigns/empty-homes-ge-2024?action=sign_up_decision'" type="button">
        <b>Sign the pledge here</b>
    </button>
</div>