img {
    width:100%;
    padding-right: 5%;
  } 

/* @media (min-width: 1000px) {
  app-scorecard {
    position: relative;
  bottom: 250px;
  right: 100px;
  }
} */

/* start of desktop styles */


  
@media screen and (min-width: 765px) {
    /* start of medium tablet styles */
      
img{
    width: 85%;
    padding-left: 10%;
}  
}

div{
  color: black;
  margin: 10px;
}

button {
  padding: 12px;
  /* box-shadow: 1em; */
  border-radius: 8px;
  color: white;
  background-color: #F2293B;
  display:block;
  margin: 0 auto;
  font-size: large;
}