<div>
    <h2>Gaffs4All Pledge</h2>
    <p>If elected I pledge to prioritise turning empty houses into homes for everyone who needs them, no matter who they are or where they come from.
        <br>
        Together we can create thriving communities where everyone belongs and can put down roots.
        <br>
        I endorse and vow to support the following initiatives:
        </p>
    <ul>        
        <li>
            <b>Repair and Leasing Scheme:</b> Increase the funding that is made available for each project (from the current €80,000).
        </li>
        <br>
        <li>
            <b>Accurate information:</b> Local authorities should report quarterly on vacant house numbers, including the percentage relative to total housing stock. Every LA should report on second homes subject to Vacant Homes Tax annually.
        </li>
        <br>
        <li>
            <b>Reporting Vacancy:</b> Make it easier to report potentially vacant or empty homes to the local Vacant Homes Officer.
        </li>
        <br>
        <li>
            <b>Vacant Property Refurbishment Grant:</b> Increase to €80,000, same as Repair and Leasing Scheme.
        </li>
        <br>
        <li>
            <b>Local Authority Home Loan:</b> Allow people who are purchasing and renovating a derelict or vacant unit to access local authorities loans.
        </li>
        <br>
        <li>
            <b>Rent-a-Room:</b> Extend the rent-a-room scheme for local authority tenants to include any possible tenant, not just students.
        </li>
        <br>
        <li>
            <b>Living City Initiative:</b> Extend the scheme for converting shops’ upper floors, and broaden the criteria. Extend The Repair and Leasing Scheme or the Vacant Property Refurbishment Programme to above shop accommodation refurbishment.
        </li>
        <br>
        <li>
            <b>Public Homes:</b> Councils need to buy and lease empty houses as public homes
        </li>
    </ul>
    <button onclick="location.href='https://action.uplift.ie/campaigns/gaffs-for-all-pledge-ge-2024?action=sign_up_decision'" type="button">
        <b>Sign the pledge here</b>
    </button>
</div>