/* You can add global styles to this file, and also import other style files */
html,body
{
    /* width: 100%; */
    /* height: 100%; */
    /* margin: 0px; */
    /* padding: 0px; */
    overflow-x: hidden; 
    /* scroll-behavior: smooth; */
    background-color: white;
}

.hoverwell:hover {
    background-color: #485563;
    cursor: pointer;
  }
  
  .container {
    padding-top: 10px;
  }
  
  .pointable {
    cursor: pointer;
  }
  
  button {
    color: #555;
  }
  
  [hidden] {
    display: none !important;
  }
  
  .toast-success {
    background-color: #51a351;
  }
  .toast-error {
    background-color: #bd362f;
  }
  .toast-info {
    background-color: #2f96b4;
  }
  .toast-warning {
    background-color: #f89406;
  }

  .untick {
    position: fixed; /* Fixed/sticky position */
    bottom: 5px; /* Place the button at the bottom of the page */
    left: 10px;
    z-index: 99; /* Make sure it does not overlap */
    border: rgba(5, 85, 85, 0.9);
    border-style: solid;
    outline: none; /* Remove outline */
    background-color:rgba(9, 175, 175, 0.975); 
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    text-decoration: solid;
}

.scroll-to-top:hover, .untick:hover {
  background-color: rgba(98, 104, 201);
}

.scroll-to-top{
  position: fixed; /* Fixed/sticky position */
  bottom: 5px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: rgba(5, 85, 85, 0.9);
  border-style: solid;
  outline: none; /* Remove outline */
  background-color:rgba(9, 175, 175, 0.95); 
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 4.25px; /* Some padding */
  border-radius: 50px; /* Rounded corners */
  height: 57.5px;
  width: 57.5px;
  /* font-size: 18px; */
}

@media screen and (max-width: 329px) {

  .untick {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;      
 }      
  .scroll-to-top {
     padding-top: 2px;
     padding-bottom: 9px;
     padding-left: 2px;
     padding-right: 2px; 
     position: fixed;
     right: 4px;     
  }
 
}
.mb-0{
  height: 20px;
  padding-bottom: 5px;
}

.accordion{
  margin-bottom: 5px;
}

.card-body{
  padding-top: 0;
}

#symbol{
  color: aliceblue;
  background-color: rgba(9, 175, 175, 0.975); 
  position: relative;
  bottom: 22px;
  text-decoration: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 8px;
  ;

}

#symbol:hover{
background-color: rgba(98, 104, 201);
}

h1, span {
  color: black;
}

hr {
border-color: #F2293B;
border-width: 3px;
}